/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins&display=swap");

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  border: none;
}
.btn {
  border: none;
  color: #ffffff;
  background: #ff5959;
  padding: 16px 12px;
}
.btn-donate-now {
  font-family: "Inter", sans-serif;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
}

/* Banner area */
#banner-area {
  padding: 174px 307px;
  background-image: linear-gradient(
      360deg,
      #121212 0%,
      rgba(18, 18, 18, 0) 100%
    ),
    url(images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  text-align: center;
}
.banner-description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 20px 67px 30px;
  color: rgba(255, 255, 255, 1);
}
/* Donate today */
.donate-today {
  background: #ffffff;
  max-width: 765px;
  margin: 0 auto;
  padding: 130px 0;
  text-align: center;
}
.section-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #121212;
}
.section-description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #707070;
  max-width: 691px;
  margin: 20px auto 50px;
}
.fixed-amounts {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-amount {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  width: 135px;
  height: 123px;
  color: #707070;
  background: #fafafa;
  border-radius: 5px;
  padding-top: 43px;
  padding-bottom: 42px;
  text-align: center;
  margin-right: 22px;
  cursor: pointer;
}
.fixed-amounts:last-child {
  margin-right: 0;
}
.fixed-amount-selected {
  color: #ff5959;
  background: #ffeeee;
  border: 2px solid #ff5959;
}
#custom-amount {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dadada;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
#custom-amount:focus {
  outline: none;
}
/* Our Donate Plan */
.our-donate-plan {
  padding-bottom: 130px;
  background: #fff;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.donate-plan-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 360px;
  height: 352px;
  padding: 63px 22px 53px;
  border-radius: 5px;
  margin-right: 24px;
}
.card:last-child {
  margin-right: 0;
}
.card-title {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #121212;
  margin-top: 31px;
  margin-bottom: 16px;
}
.card-description {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
}
#donate-plan-food {
  background: rgba(79, 157, 166, 0.1);
}
#donate-plan-shelter {
  background: rgba(255, 89, 89, 0.1);
}
#donate-plan-education {
  background-color: #fff4d6;
}

/* Get My Updates Area */
#get-my-updates{
  padding-bottom: 120px;
}
.subscribe-container {
  width: 60%;
  margin: 0 auto;
  width: 809px;
  height: 200px;
  background-color: #fff4d6;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-form-container{
  width: 432px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-form-container input {
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #aa9f9f;
  background: #d9d9d9;
  padding: 14px 0 14px 17px;
  border-radius: 5px 0px 0px 5px;
  margin: 0;
}
.btn-subscribe {
  width: 30%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 20px;
  padding: 14px;
  border-radius: 0px 5px 5px 0px;
}